<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <nav th:fragment="nav" class="main-nav">
    <div class="container">
      <ul class="nav-list">
        <li class="nav-item"><a th:href="@{/}">Trang Chủ</a></li>
        <li class="nav-item"><a th:href="@{/products}">Hoa Sinh Nhật</a></li>
        <li class="nav-item"><a th:href="@{/products}">Hoa Khai Trương</a></li>
        <li class="nav-item"><a th:href="@{/products}">Bó Hoa Tươi</a></li>
        <li class="nav-item"><a th:href="@{/products}">Giỏ Hoa Sang Trọng</a></li>
        <li class="nav-item"><a th:href="@{/products}">Hộp Hoa Mica</a></li>
        <li class="nav-item"><a th:href="@{/products}">Kệ Hoa Sự Kiện</a></li>
        <li class="nav-item"><a th:href="@{/products}">Cẩm Nang Hoa</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>
